* {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
}
header {
  margin: auto;
  position: sticky;
  background-color: black;
  color: white;
  top: 0px;
  right: 0px;
  height: 3vh;
  z-index: 2;
}
.cointainer {
  position: relative;
  background-color: aqua;
  height: 444px;
  width: 50vw;
  margin: auto;
  z-index: 1;
}
.cointainer p {
  border: 2px solid red;
  text-align: center;
}
.box {
  left: 10vw;
  top: 5px;
  position: relative;
  height: 20px;
  width: 120px;
  background-color: yellow;
}
.box2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 400px;
  width: 200px;
  background-color: steelblue;
}
.box3 {
    visibility: hidden;
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 400px;
  width: 200px;
  background-color: yellowgreen;
}
body ul{
    /* background-color: red; */
margin:5vw ;
list-style: circle;
list-style-position: outside;
list-style-image: url("tick.jpg");
}