*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(54, 17, 175);
}
.first  {
    background-color: whitesmoke;
}
.second{
    background-color: rgb(126, 71, 255);
}
/* div{ */
    /* color: white; */
/* } */
.first{
   background-color: red; 
   color: teal;
   border: black;

}
.

