* {
  margin: 0;
  padding: 0;
}
.content {
  /* height: 23px; */
  width: 345px;
  background: blue;
  margin: 10px 20px 5px 12px;
  padding: 12px 8px;
  border-width: 5px;
  border-style: solid dotted dashed;
  border-color: red;
  border-radius: 50px;
}
.second {
  box-sizing: content-box;
  background-color: red;
  margin: 34px;
  height: 200px;
  border: 10px solid black;
  padding: 10px;
  width: 50%;

}
.third {
  box-sizing: border-box;
  /* Border-box doesn't include margin in it but padding and border */
  width: 50%;
  margin: 30px;
  height: 200px;
  border: 10px solid black;
  padding: 10px;
  background-color: steelblue;
}
  