* {
    margin: 0;
    padding: 0;
  }
  .container{
      display: flex;
      /* used on container of other containers */
      flex-direction: row;
      /* flex-wrap: wrap-reverse; */
      /* wraps content to fit when resizing window  */
      justify-content: center;
      background-color: brown;
      height: 50vh;
      align-items: center;
      /* aligns items vertically */

  }
  .box1 {
    height: 234px;
    width: 345px;
    border: 2px solid black;
    background-color: blue;
  }
  .box2 {
      border: 2px solid black;
    height: 234px;
    width: 345px;
    background-color: red;
  }
  