.container{
    background-color: red;
    height: 30vh;

}
body{
    height: 80vh;
    background-color:yellow;
}
@media screen and (max-width : 800px){
    /* triggers when page size is less than specified value  */
    body {
        background-color: blue;
    }
    .container{
        background-color: coral;
    }
}